.Pokecard-card{
    background-color: lightgray;
    border-radius: 15px;
    width: 150px;
    height: 200px;
    padding: 5px;
    margin:  0px 50px 50px 50px;
}
.Pokecard-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Pokecard-name{
    text-align: center;
    font-weight: bold;
    color: blue;
}


.Pokecard-type , .Pokecard-exp{
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 0.5;
}